/**
 * The breadcrumb
 *
 * @author  Marco Di Bella
 * @package rdg-storefront-child-theme
 */


.storefront-breadcrumb {
    padding: var(--breadcrumb-py) 0;
    margin: 0;

    // Needed to overwrite rules
    @media (min-width: 768px) {
        padding: var(--breadcrumb-py) 0;
        margin: 0;
    }
}
