/**
 * The breadcrumb
 *
 * @author  Marco Di Bella
 * @package rdg-storefront-child-theme
 */


.storefront-breadcrumb {
    padding: 2rem 0;
    margin: 0;

    @media (min-width: 768px) {
        padding: 3rem 0;
        margin: 0;
    }
}
