/**
 * Basic HTML styling
 *
 * @author  Marco Di Bella
 * @package rdg-storefront-child-theme
 */


body {
    background: var(--hsl--gray-950);
    font-size: 16px;
    font-weight: normal;
    color: var(--hsl--gray-200);
}


a {
    color: var(--hsl--brand-450);
    text-decoration: none !important;
}


a:focus,
input:focus,
textarea:focus,
button:focus {
    outline: none;
}





button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
.wc-block-grid__products
.wc-block-grid__product
.wp-block-button__link,
.widget a.button,
.added_to_cart {
    border: 0;
    border-radius: 5px;
    color: var(--hsl--white);
    background: var(--hsl--brand-450);
    text-transform: uppercase;

    &:hover,
    &.alt,
    &.alt:hover {
        color: var(--hsl--white);
        background: var(--hsl--brand-450);
    }
}
