/**
 * The content
 *
 * @author  Marco Di Bella
 * @package rdg-storefront-child-theme
 */


@media (min-width: 768px) {
    .left-sidebar .content-area,
    .right-sidebar .content-area {
        width: 100%;
        float: none;
        margin-right: 0;
    }
}


@media (min-width: 768px) {
    .col-full {
        max-width: var(--full-width);
    }
}


.site-main {
    padding: var(--main-py) var(--main-px);
    background: #fff;
    box-shadow: 0 2px 20px -10px rgba(99,114,130,.15);
    margin-bottom: 2rem;

    @media (min-width: 768px) {
        margin-bottom: 5rem;
    }
}


.site-main > *:last-child {
    margin-bottom: 0 !important;
}
