/**
 * Settings related to the product page
 *
 * @author  Marco Di Bella
 * @package rdg-storefront-child-theme
 */


// Tabs
.woocommerce-tabs ul.tabs {
    border-top: 1px solid var(--color--separator);
}

.woocommerce-tabs ul.tabs li {
    border-bottom: 1px solid var(--color--separator);
}

.woocommerce-tabs ul.tabs li a {
    color: var(--hsl--gray-200);
    padding: 1em;
}

.woocommerce-tabs ul.tabs li.active a {
    font-weight: bold;
    color: var(--hsl--gray-200);
    background: var(--color--tab-bg--active);
}

.woocommerce-tabs ul.tabs li::after {
    right: 1em;

    @media (min-width: 768px) {
        opacity: .25;
    }
}


// Product Meta
.single-product div.product .product_meta {
    border-top: 1px solid var(--color--separator);
}
