/**
 * Settings related to the product page
 *
 * @author  Marco Di Bella
 * @package rdg-storefront-child-theme
 */


// Tabs
.woocommerce-tabs ul.tabs {
    border-top: 1px solid var(--color--separator);
}

.woocommerce-tabs ul.tabs li {
    border-bottom: 1px solid var(--color--separator);
}

.woocommerce-tabs ul.tabs li a {
    color: var(--hsl--gray-200);
    padding: 1em;
}

.woocommerce-tabs ul.tabs li.active a {
    font-weight: bold;
    color: var(--hsl--gray-200);
    background: var(--color--tab-bg--active);
}

.woocommerce-tabs ul.tabs li::after {
    right: 1em;

    @media (min-width: 768px) {
        opacity: .25;
    }
}

@media (min-width: 768px) {
    .woocommerce-tabs .panel {
        width: 62.7058823529%;
    }
}


// Product meta
.single-product div.product .product_meta {
    border-top: none;
    display: flex;
    gap: 1rem;
}

.single-product div.product p.price {
    font-weight: bold;
}


// Product gallery
@media (min-width: 768px) {
    .single-product div.product .woocommerce-product-gallery {
        width: 29.4117647059%;
        float: left;
        margin-right: 5.8823529412%;
        margin-bottom: 3.706325903em;
    }
}

@media (min-width: 768px) {
    .single-product div.product .summary {
        width: 62.7058823529%;
    }
}

.woocommerce-product-gallery__trigger {
    display: none !important;
}



// The product
.single-product div.product {
    overflow: visible;
}


// Related / Upsells
.related {
    background: #f6f6f6;
    padding: 2rem var(--main-px);
    margin-left: calc(-1 * var(--main-px));
    margin-right: calc(-1 * var(--main-px));
    margin-top: var(--main-py);
}

.related > h2:first-child,
.upsells > h2:first-child {
    font-size: 1.618em;
    text-align: center;
    padding: 1rem;

    @media (min-width: 768px) {
        font-size: 2.2em;
        padding: 2rem;
    }
}
